[submodule "hugo_source/themes/ananke"]
	path = hugo_source/themes/ananke
	url = https://github.com/AngeloStavrow/indigo.git
[submodule "hugo_source/themes/minimo"]
	path = hugo_source/themes/minimo
	url = https://github.com/MunifTanjim/minimo
